p {
    color: red;
    font-size: 22pt;
}
#gruby_pylypiuk {
    color: green;
    font-size: 17pt;
    font-weight: bold;
}
#dlawszystkich_pylypiuk {
    color: yellow;
    font-size: 10pt;
    font-family: Arial;
}
